@charset "UTF-8";
/* CSS Document */
html, body, header, nav, div, section, article, footer, p, img, ul, li {
	margin: 0 auto;
	padding:0;
	border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}
html {
	height: 100%;
	width: 100%;
}
#container {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 300;
	color: #ececec;
	background: url(../_images/background/bodybackground.gif) repeat;
	text-align: center;
	min-width: 1181px;
	min-height: 1580px;
	margin: 0 auto;
	position: relative;
	top: 0px;
	left: 0px;
}
header {
	background: url(../_images/background/header.png) repeat;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 50;
}
#container header .logo {
	width: 354px;
	float: left;
	margin: 0px 20px 0px 0px;
}

#container header .logo #bm-logo {
	background: url(../_images/background/logo.png) no-repeat;
	text-indent: -9999px;
	display: block;
	height: 28px;
	width: 354px;
	margin: 27px 0px 26px 0px;
}
#container header .diamond {
	background: url(../_images/background/dimond.png) no-repeat;
	width: 115px;
	height: 66px;
	margin: 50px 30.5px 0px 30.5px;
	float:left;
}
nav {
	width: 374px;
	float:left;
	display:block;
	margin: 0px 0px 0px 0px;
}
#container header .page nav ul {
	font-size: 12px;
	letter-spacing: 0.010em;
	text-transform: uppercase;
	width: 374px;
	margin: 34px 0px 20px 0px;
	display: block;
	float: right;
	text-align: right;
}
#container header .page nav ul li {
	padding-bottom: 4px;
	margin-left: 20px;
	line-height: 15px;
	display:inline;

}
#container header .page nav ul li a {
	text-decoration: none;
	color: #ececec;
}
#container header .page nav ul li a:link {
	color: #ececec;
	text-decoration: none;
}
#container header .page nav ul li a:visited {
	color: #ececec;
	text-decoration: none;
}
#container header .page nav ul li a:hover {
	color: #8bc9b3;
}
#container header .page nav ul li a.currentPage {
	color: #8bc9b3;
}
header {
	-moz-box-shadow: 0 0 12px -2px #000;
	-webkit-box-shadow: 0 0 12px -2px #000;
	box-shadow: 0 0 12px -2px #000;
}
.page {
	width: 924px;
	margin: 0 auto;
}
/*Marquee Styles*/
#attractor {
	float:left;
}
.marquee_container {
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	position: absolute;
	width: 569px;
	height: 315px;
	top: 160px;
	left: 0px;
	text-align: left;
}
.marquee_nav_text {
	float: left;
	width: 355px;
	height: 315px;
	overflow: hidden;
	position: absolute;
	top: 160px;
	left: 569px;
	background: #2f2f30 0px 0px;
}
.marquee_photos {
	position: absolute;
	left: 0px;
	top: 0px;
}
.marquee_caption {
	color: #ececec;
	margin: 0px;
	padding: 30px;
	width: 295px;
	height: 255px;
	position: relative;
	left: 0px;
	top: 0px;
}
.marquee_caption h2 {
	font-family: "Lato Regular", Helvetica, sans-serif;
	font-size: 12.5px;
	font-weight: 300;
	text-transform: uppercase;
	color: #56435C;
	margin: 0px 0px 24px;
	text-align:left;
	letter-spacing: 0.05em;
	
}
.marquee_caption h3 {
	font-family: "Lato Regular", Helvetica, sans-serif;
	font-size: 12.5px;
	font-weight: 300;
	text-transform: uppercase;
	color: #ececec;
	margin: 0px 0px 24px;
	text-align:left;
	letter-spacing: 0.05em;

}
.marquee_caption p {
	color: #ececec;
	margin: 0px 0px 54px;
	font-family: "Lato Regular", Helvetica, sans-serif;
	line-height: 16pt;
	font-size: 12.5px;
	font-weight: 300;
	text-align:left;
	width:295px;
}
.marquee_caption p a {
	font-family: "Lato Regular", Helvetica, sans-serif;
	font-size: 12.5px;
	font-weight: 300;
	color: #8bc9b3;
	text-decoration: none;
	position:absolute;
	bottom: 25px;
	left: 30px;
	letter-spacing: 0.05em;

}
.marquee_caption a:hover {
	color: #0a9492;
}
.marquee_nav {
	text-align: right;
	position: absolute;
	bottom: 25px;
	right: 30px;
	width: 180px;
}
.marquee_nav a {
	background: url(../_images/home/bannerNav.png) no-repeat 0px 0px;
	display: inline-block;
	height: 18px;
	width: 18px;
	margin-left: 15px;
	cursor: pointer;
}
.marquee_nav a:hover {
	background: url(../_images/home/bannerNav.png) no-repeat -24px 0px;
}
.marquee_nav a.selected {
	background: url(../_images/home/bannerNav.png) no-repeat -48px 0px;
}
.marquee_panels {
	display: none;
}
.content {
	width: 924px;
	position: relative;
	top: 0px;
	left: 0px;
	min-height: 1500px;
}
.design_content {
	width: 924px;
	position: relative;
	top: 0px;
	left: 0px;
	min-height: 1510px;
}

/* ROWS */
.work {
	display: block;
	position: absolute;
	width: 924px;
	left: -10px;
	top: 535px;
	height: auto;
}
.design_work {
	display: block;
	position: absolute;
	width: 944px;
	left: -10px;
	top: 160px;
	height: auto;
}
.row {
	float: left;
	width: 944px;
	overflow: hidden;
	height: auto;
	margin-bottom:60px;
}
.row .ds01_more {
	background: rgba(255 255 255 0);
	display: block;
	margin: 0px;
	padding: 10px 10px 0px 10px;
	float: left;
	max-width: 216px;
	max-height: 315px;
	overflow: hidden;
	-webkit-transition: max-height 0.55s ease 0s, background-color 0.7s ease-out 0s;
	-moz-transition: max-height 0.55s ease 0s, background-color 0.7s ease-out 0s;
	-ms-transition: max-height 0.55s ease 0s, background-color 0.7s ease-out 0s;
	-o-transition: max-height 0.55s ease 0s, background-color 0.7s ease-out 0s;
	transition: max-height 0.55s ease 0s, background-color 0.7s ease-out 0s;
}
.row_h1 {
	font-family: "Lato Regular", Helvetica, sans-serif;
	font-size: 12.9px;
	letter-spacing: 0.05em;
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
	color: #80DBBE;
	margin: 0px auto;
	padding: 19px 10px 17px 10px;
	clear: left;
	background-color: #FFF;
}
.row_p {
	font-family: "Lato Regular", Helvetica, sans-serif;
	font-weight: 300;
	text-align: left;
	line-height: 18px;
	margin: 0px auto;
	padding: 0px 0px 25px;
	font-size: 12.5px;
	color: #999999;
	background-color: #FFF;
}
.row_image01 {
	position: relative;
	display: block;
	margin-top: 0px;
	background: url(../_images/home/dossierbw_t.jpg) 0px 0px;
	height: 265px;
	width: 216px;
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
	margin-right: auto;
	margin-left: auto;
}
.row_image02 {
	position: relative;
	display: block;
	margin-top: 0px;
	background: url(../_images/home/bessemerbw_t.jpg) 0px 0px;
	height: 265px;
	width: 216px;
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
	margin-right: auto;
	margin-left: auto;
}
.row_image03 {
	position: relative;
	display: block;
	margin-top: 0px;
	background: url(../_images/home/bbw_t.jpg) 0px 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image04 {
	position: relative;
	display: block;
	margin-top: 0px;
	background: url(../_images/home/pitchbw_t.jpg) 0px 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image05 {
	position: relative;
	display: block;
	margin-top: 0px;
	background: url(../_images/home/birdbw_t.jpg) 0px 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image06 {
	position: relative;
	display: block;
	margin-top: 0px;
	background: url(../_images/home/heartbw_t.jpg) 0px 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image07 {
	position: relative;
	display: block;
	margin-top: 0px;
	background: url(../_images/home/flowerbw_t.jpg) 0px 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image08 {
	position: relative;
	display: block;
	margin-top: 0px;
	background: url(../_images/home/eabw_t.jpg) 0px 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image09 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/design/newScientistbw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image10 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/design/camerabw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image11 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/design/plimsollbw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image12 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/design/honeybw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image13 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/design/jackbw.jpg);
	background-position: 0px 0px;
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image14 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/design/macbw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image15 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/design/breathbw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image16 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/design/vizionbw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image17 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/illustration/dnwbw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image18 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/illustration/outsider3bw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image19 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/illustration/injarsbw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image20 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/illustration/mudpiebw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image21 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/illustration/evilbw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image22 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/illustration/seedsbw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image23 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/illustration/prawnbw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row_image24 {
	position: relative;
	display: block;
	margin-top: 0px;
	height: 265px;
	width: 216px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../_images/illustration/hhbbw.jpg);
	-webkit-transition: background-image 1.5s ease 0s;
	-moz-transition: background-image 1.5s ease 0s;
	-ms-transition: background-image 1.5s ease 0s;
	-o-transition: background-image 1.5s ease 0s;
	transition: background-image 1.5s ease 0s;
}
.row .ds01_more:hover {
	max-height: 999px;
	background-color: #FFF;
}
.row a {
	text-decoration: none;
}
.row_image01:hover {
	background-image: url(../_images/home/dossier_t.jpg);
}
.row_image02:hover {
	background-image: url(../_images/home/bessemer_t.jpg);
}
.row_image03:hover {
	background-image: url(../_images/home/b_t.gif);
}
.row_image04:hover {
	background-image: url(../_images/home/pitch_t.jpg);
}
.row_image05:hover {
	background-image: url(../_images/home/bird_t.jpg);
}
.row_image06:hover {
	background-image: url(../_images/home/heart_t.jpg);
}
.row_image07:hover {
	background-image: url(../_images/home/flower_t.jpg);
}
.row_image08:hover {
	background-image: url(../_images/home/ea_t.jpg);
}
.row_image09:hover {
	background-image: url(../_images/design/newScientist.jpg);
}
.row_image10:hover {
	background-image: url(../_images/design/camera.jpg);
}
.row_image11:hover {
	background-image: url(../_images/design/plimsoll.jpg);
}
.row_image12:hover {
	background-image: url(../_images/design/honey.jpg);
}
.row_image13:hover {
	background-image: url(../_images/design/jack.jpg);
}
.row_image14:hover {
	background-image: url(../_images/design/mac.jpg);
}
.row_image15:hover {
	background-image: url(../_images/design/breath.jpg);
}
.row_image16:hover {
	background-image: url(../_images/design/vizion.jpg);
}
.row_image17:hover {
	background-image: url(../_images/illustration/dnw.jpg);
}
.row_image18:hover {
	background-image: url(../_images/illustration/outsider3.jpg);
}
.row_image19:hover {
	background-image: url(../_images/illustration/injars.jpg);
}
.row_image20:hover {
	background-image: url(../_images/illustration/mudpie.jpg);
}
.row_image21:hover {
	background-image: url(../_images/illustration/evil.jpg);
}
.row_image22:hover {
	background-image: url(../_images/illustration/seeds.jpg);
}
.row_image23:hover {
	background-image: url(../_images/illustration/prawn.jpg);
}
.row_image24:hover {
	background-image: url(../_images/illustration/hhb.jpg);
}
/*END OF ROWS*/
.emailMessage {
	height: 100px;
	width: 530px;
	z-index: 31;
	float: left;
	position: absolute;
	top: 200px;
	left: 205px;
	display: block;
}
.thanks {
	font-family: "Lato Regular", Helvetica, sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	color: #069596;
}
.thankuMessage {
	font-family: "Lato Regular", Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #069596;
	text-align: center;
	margin: 0px auto;
	position: absolute;
	left: 0px;
	top: 0px;
	line-height: 30px;
	z-index: 32;
	display: block;
}
footer {
	font-size: 1em;
	background: url(../_images/background/footer.gif);
	height: 80px;
	width: 100%;
	clear: both;
	position: relative;
	display: block;
}
.copyright p {
	font-family: "Lato Regular", Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	float: left;
	color: #999999;
	margin-top: 27px;
	margin-bottom: 26px;
	line-height: 16px;
	display:block;
}
.waxseal {
	background: url(../_images/background/wax-seal.png) no-repeat;
	display: block;
	float: left;
	width: 84px;
	height: 82px;
	margin-left: 203px;
	position: relative;
	top: -41px;
}
.icons {
	display: block;
	height: 30px;
	width: 216px;
	margin: auto 0px;
	float: right;
}
.icons .twitter {
	background-position: left top;
	height: 30px;
	width: 31px;
	background-image: url(../_images/background/Social-icon-sprite.png);
	float: left;
	margin-top: 24px;
	margin-bottom: 26px;
	margin-right: 30.66px;
}
.icons .twitter:hover {
	background-position: 0px -30px;
}
.icons .flickr {
	background-position: -31px 0px;
	height: 30px;
	width: 31px;
	background-image: url(../_images/background/Social-icon-sprite.png);
	float: left;
	margin-top: 24px;
	margin-bottom: 26px;
	margin-right: 30.66px;
}
.icons .flickr:hover {
	background-position: -31px -30px;
}
.icons .tumblr {
	background-position: -62px 0px;
	height: 30px;
	width: 31px;
	background-image: url(../_images/background/Social-icon-sprite.png);
	float: left;
	margin-top: 24px;
	margin-bottom: 26px;
	margin-right: 30.66px;
}
.icons .tumblr:hover {
	background-position: -62px -30px;
}
.icons .linkedin {
	background-position: -93px 0px;
	height: 30px;
	width: 31px;
	background-image: url(../_images/background/Social-icon-sprite.png);
	float: left;
	margin-top: 24px;
	margin-bottom: 26px;
}
.icons .linkedin:hover {
	background-position: -93px -30px;
}
